/* Write your CSS here */
.list-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: solid;
  border-color: #b5b7c4;
  border-radius: 10px;
  flex-wrap: wrap;
  width: 250px;
  margin: 2px;
}
.l-container {
  flex-wrap: wrap;
}
.star-name-container {
  display: flex;
  justify-content: space-between;
}
.title {
  font-family: Roboto;
  font-size: 15px;
  color: #171f46;
}
.timedate {
  color: timedate;
  font-family: Roboto;
  font-size: 15px;
  color: #b5b7c4;
  font-weight: bold;
  margin: 0px;
}
.starimg {
  height: 20px;
  width: 20px;
  align-self: center;
}
.starbutton {
  border: none;
  padding: 0px;
  margin: 0px;
}
